*.o
cmake-build-*
/open-osdp-params-CP.json
*.log

src-ui/open-osdp-CP-status
src-ui/open-osdp-PD-status
src-ui/open-osdp-kick
src-ui/send-osdp-command
src-ui/shutdown-osdp
src-ui/start-CP-485
src-ui/start-MON-485
src-ui/start-PD-485
src-ui/tail-CP-log
src-ui/tail-MON-log
src-ui/tail-PD-log
src-ui/vm-status

.idea
build-*
tmp/
\.vscode/\.ropeproject/
